<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberONe.mapper.CheckMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		userName,
		accountName,
		(select group_concat(name) from
		ly_role
		where ly_role.id
		in (SELECT roleId FROM ly_user_role WHERE
		userId=ly_user.id) ) roleName,
		password,
		description,
		locked,
		credentialsSalt,
		createTime
	</sql>

	<update id="updateCheckResult" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update check_result
			set checkResult =${item.checkResult}
			where  month = ${item.monthId} 
			and evaluatorId = ${item.evaluatorId}
			and operationPostId = ${item.operationPostId}
			and checkOptionId = ${item.checkOptionId}
		</foreach>

	</update>
	
	<sql id="selectTask">
		id,
		monthId,
	 	evaluatorId,
	 	evaluator,
	 	operationPostId,
	 	operationPost,
	 	description,
	 	createTime,
	 	deletestatus,
	 	ifLike,
	 	status
	</sql>
	
	<select id="findAssignTask"  parameterType="java.util.HashMap"  resultType="com.numberONe.entity.CheckTaskAssignmentFormMap">
		select
		<include refid="selectTask" />
		from check_task_assignment 
		where evaluatorId = #{evaluatorId}
	</select>
	
	<select id="findAssignTaskCount"  parameterType="java.util.HashMap"  resultType="Integer">
		select
		count(*)
		from check_task_assignment 
		where evaluatorId = #{evaluatorId}
	</select>

</mapper>