<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberONe.mapper.CheckTaskAssignmentMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		monthId,
		month,
		evaluatorId,
		evaluator,
		operationPostId,
		operationPost,
		ifLike,
		status,
		description,
		createTime,
		deletestatus
	</sql>

	<insert id="addTaskAssign">
		insert into check_task_assignment (
		monthId,
		month,
		evaluatorId,
		evaluator,
		operationPostId,
		operationPost,
		description)
		 value 
		 (#{monthId},#{month},#{evaluatorId},#{evaluator},#{operationPostId},#{operationPost},#{description})
	</insert>
	
	 <select id="findByPage" resultType="com.numberONe.entity.CheckTaskAssignmentFormMap">
        select
        <include refid="selectId" />
        from check_task_assignment
        where 1 = 1
        <if test="monthId != null and monthId != ''">
            and monthId like '%${monthId}%'
        </if>
        <if test="month != null and month != ''">
            and month like '%${month}%'
        </if>
    </select>
	
	<insert id="addTaskAssignList"  parameterType="java.util.List">
		insert into check_task_assignment (
		monthId,
		month,
		evaluatorId,
		evaluator,
		operationPostId,
		operationPost,
		ifLike)
  			values
  		<foreach collection="list" item="item" index="index"
   			separator=",">
   		(#{item.monthId}
   		,#{item.month}
   		,#{item.evaluatorId}
   		,#{item.evaluator}
   		,#{item.operationPostId}
   		,#{item.operationPost}
   		,#{item.ifLike})
  		</foreach>
	</insert>
    
    <select id="countComplete" resultType="int">
        SELECT
            count(*)
        FROM
            check_task_assignment task
        WHERE
            task.monthId = #{monthId}
        AND task.operationPostId = #{operationPostId}
        AND task.`status` = 1
        
    </select>
	
    <select id="notCompleted" resultType="string">
        SELECT
            task.evaluator
        FROM
            check_task_assignment task
        WHERE
            task.monthId = #{monthId}
        AND task.operationPostId = #{operationPostId}
        AND task.`status` = 0
    </select>
    
</mapper>