<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberONe.mapper.CheckMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		userName,
		accountName,
		(select group_concat(name) from
		ly_role
		where ly_role.id
		in (SELECT roleId FROM ly_user_role WHERE
		userId=ly_user.id) ) roleName,
		password,
		description,
		locked,
		credentialsSalt,
		createTime
	</sql>

	<update id="updateCheckResult" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			update check_result
			set checkResult
			=${item.checkResult}
			where month = ${item.month}
			and evaluatorId = ${item.evaluatorId}
			and operationPostId =
			${item.operationPostId}
			and checkOptionId = ${item.checkOptionId}
		</foreach>

	</update>

	<update id="updateCheckTaskAssignment" parameterType="java.util.HashMap">

		update check_task_assignment
		set status = '1'
		where month = ${month}
		and evaluatorId = ${evaluatorId}
		and operationPostId = ${operationPostId}

	</update>

	<sql id="selectTask">
		id,
		month,
		evaluatorId,
		evaluator,
		operationPostId,
		operationPost,
		description,
		createTime,
		deletestatus,
		ifLike,
		status
	</sql>

	<select id="findAssignTask" parameterType="java.util.HashMap"
		resultType="com.numberONe.entity.CheckTaskAssignmentFormMap">
		select
		a.id as id , 
		a.month,
		a.evaluatorId,
		a.evaluator,
		a.operationPostId,
		a.operationPost as operationPost,
		a.createTime,
		a.deletestatus,
		a.ifLike,
		a.status,
		b.description as description
		from check_task_assignment as  a ,ly_user as  b  
		where evaluatorId = #{evaluatorId} and status = '0' and a.operationPostId = b.id and a.month = #{month}
	</select>


	<select id="findAssignTaskCount" parameterType="java.util.HashMap"
		resultType="Integer">
		select
		count(*)
		from check_task_assignment
		where evaluatorId = #{evaluatorId} and status = '0' and month = #{month}
	</select>
	
	<select id="findTaskList" parameterType="java.util.HashMap"
		resultType="com.numberONe.entity.CheckTaskAssignmentFormMap">
		select
		*
		from check_task_assignment
		where operationPostId = #{operationPostId} and month = #{month}
		<if test="deletestatus != null and deletestatus != ''">
		and deletestatus like '%${deletestatus}%'
		</if>
	</select>
	
	<select id="getAllResult" parameterType="java.util.HashMap"
		resultType="String">
		SELECT 
		SUM(checkResult)
		 FROM check_result 
		 where operationPostId = #{operationPostId}   and month = ${month}  GROUP BY evaluatorId
	</select>
	
	<!-- 获取历史记录   -->
	<select id="getCheckHistoryList" parameterType="java.util.HashMap"  resultType="java.util.HashMap">
	   SELECT 
	   		b.month as month,
	   		b.operationPost as operationPost,
	   		sum(a.checkresult) as result
	   FROM check_result a,
	   (SELECT evaluatorId,operationPostId,operationPost,month FROM check_task_assignment where`status`='1' and evaluatorId=#{evaluatorId} and monthId=#{monthId}) b
	   where a.evaluatorId=b.evaluatorId AND a.operationPostId = b.operationPostId AND a.`month` = b.`month`
	   GROUP BY a.operationPostId
 
	</select>
	
	<select id="getCheckHistoryListCount" parameterType="java.util.HashMap"
		resultType="Integer">
		select
		count(*)
		from check_task_assignment
		where evaluatorId = #{evaluatorId} and status = '1' and monthId = #{monthId}
	</select>

</mapper>